#usersSearchForm input {
  width: 300px;
}

@mixin opacity {
  opacity: .3 !important;
}

.notification_muted,.comment_trashed ,.post_trashed {
  @include opacity;
  transition: opacity .3s ease-out;
}

.comment_trashed, .post_trashed,.notification_muted {
  &:hover {
    opacity: 1 !important;
  }
}
